.input-search{
    border-radius: 20px;
    background-color: rgba(2, 0, 8, 0.225);
}
.search-btn{
    background-color: rgba(255, 249, 240, 0.172);
    padding: 10px;
    border-radius: 20px;
}
.container-games {
    padding: 15px 20px;
}
.container-game {
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
    border: 3px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0px 18px 12px -13px rgba(0,0,0,0.63);
    transition: all .2s ease-in-out;
}
.link-games{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/* ------------- Game Detail ---------------- */
.goback-link{
    text-decoration: none;
    margin-left: 100px !important;
}
.container-detail {
    background-color: #00000085;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.header-detail{
    background-color: rgba(7, 1, 42, 0.767);
    border-radius: 20px;
}
.footer-detail{
    background-color: rgba(240, 255, 255, 0.406);
}

/* ------------- Comments ---------------- */
.comment{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.564);
}
.addpost-btn{
    background-color: rgba(81, 41, 244, 0.771);
    padding: 10px;
    border-radius: 20px;
}
.textarea-comment{
    border-radius: 20px !important;
    background-color: rgba(229, 223, 224, 0.694) !important;
    width: 100% !important;
    width: fit-content !important;
}
.sendpost-btn{
    background-color: rgba(0, 0, 0, 0.771);
    padding: 10px;
    border-radius: 20px;
}