.input-search{
    border-radius: 20px;
    background-color: rgba(2, 0, 8, 0.225);
}

.search-btn{
    background-color: rgba(255, 249, 240, 0.172);
    padding: 10px;
    border-radius: 20px;
}

.container-calendar {
    padding: 15px 20px;
}

.container-calendar-game {
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
    border: 3px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0px 18px 12px -13px rgba(0,0,0,0.63);
    transition: all .2s ease-in-out;
}

.link-games{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/* ------------- DETAIL ---------------- */
.goback-link{
    text-decoration: none;
}
.container-detail {
    background-color: #ffffffb4;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.header-detail{
    background-color: rgba(190, 32, 32, 0.837);
    border-radius: 20px;
}