.logo-login{
    max-width: 150px;
}

.input-login{
    background-color: rgba(2, 0, 8, 0);
    border: none;
}
.white-border{
    border-bottom: white solid;
}
.red-border{
    border-bottom: rgb(242, 48, 48) solid;
}

.btn-login-register{
    width: 200px;
}
.btn-noborder{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px !important;
}
.btn-noborder a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

