.body-login{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(99, 7, 24) 100%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media (max-width: 790px) and (orientation: landscape)  {
    .body-login {
        min-height: unset;
        position: inherit;
        margin:auto;
        padding-bottom: 30px;
    }
  }
.logo-login{
    max-width: 150px;
}

.input-login{
    background-color: rgba(2, 0, 8, 0);
    border: none;
}
.white-border{
    border-bottom: white solid;
}

.btn-login-register{
    width: 200px;
}
.btn-noborder{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px !important;
}
.btn-noborder a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
