.body-login{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(99, 7, 24) 100%, rgba(0,0,0,1) 100%);
    height: 100vh;
}
.logo-login{
    max-width: 150px;
}

.input-login{
    background-color: rgba(2, 0, 8, 0);
    border: none;
}
.white-border{
    border-bottom: white solid;
}

.btn{
    width: 200px;
}
.btn-noborder{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px !important;
}
.btn-noborder a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
