.body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(22, 22, 22) 0%, rgb(19, 32, 96) 100%, rgb(0, 0, 0) 100%);
}
main {
    position: relative;
    margin-bottom: 60px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

/*------------------------------  Header -----------------------------*/
.header{
    background-color: rgba(7, 2, 1, 0.605);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-logo{
    width: 70px;
    height: 60px;
}
.header-logout{
    max-height: 40px;
}

.red-color{
    color:rgb(162, 6, 6);
    background-color: rgb(162, 6, 6);
}


/*------------------------------  Footer -----------------------------*/
.footer{
    background-color: rgba(0, 0, 0, 0.642);
    display: flex;
    height: 60px;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer a{
    text-decoration: none;
    color: white;
}
@media only screen and (min-width: 500px) {
    main {
        margin-bottom: 10px;
    }
    .footer{
        background-color: rgba(0, 0, 0, 0.642);
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 20px;
        width: 10%;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 30px;
    }
    /* .header img{
        display: none;
    } */
}

/* Animations  */
.animate__fadeInRight{
    animation-duration: 1s;
}
.animate__fadeInUp{
    animation-duration: 2s;
}