.body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(22, 22, 22) 0%, rgb(19, 32, 96) 100%, rgb(0, 0, 0) 100%);
}
main {
    position: relative;
    margin-bottom: 60px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

/*------------------------------  Header -----------------------------*/
.header{
    background-color: rgba(211, 45, 12, 0.605);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-logo{
    width: 70px;
    height: 60px;
}
.header-logout{
    max-height: 40px;
}
.title-header{
    background-color: rgba(211, 45, 12, 0.605);
    border: none;
}

.red-color{
    color:rgb(162, 6, 6);
    background-color: rgb(162, 6, 6);
}


/*------------------------------  Footer -----------------------------*/
.footer{
    background-color: rgba(0, 0, 0, 0.642);
    height: 60px;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer a{
    text-decoration: none;
    color: white;
}

/* Animations  */
.animate__fadeInRight{
    animation-duration: 1s;
}
.animate__fadeInUp{
    animation-duration: 2s;
}