.input-search{
    border-radius: 20px;
    background-color: rgba(2, 0, 8, 0.225);
}
.search-btn{
    background-color: rgba(255, 249, 240, 0.172);
    padding: 10px;
    border-radius: 20px;
}

.teams-div{
    background-color: rgba(255, 255, 255, 0.508);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
}

