.body-login{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,121,9,1) 100%, rgba(0,0,0,1) 100%);
}
.logo-login{
    max-width: 150px;
}
.animate__fadeInUp{
    animation-duration: 2s;
}


.input-login{
    background-color: rgba(2, 0, 8, 0);
    border: none;
}
.white-border{
    border-bottom: white solid;
}



.btn{
    width: 200px;
}
.btn-noborder{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.btn-noborder a{
    text-decoration: none;
    color: white;
}